# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [1]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Ray\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [2]:
# Read your api key environment variable
# YOUR CODE HERE!
load_dotenv()
api_key = os.getenv("NEWS_API_KEY")

In [3]:
# Create a newsapi client
# YOUR CODE HERE!
from newsapi import NewsApiClient
newsapi = NewsApiClient(api_key=api_key)
newsapi

In [8]:
# Fetch the Bitcoin news articles
# YOUR CODE HERE!
btc_news_en = newsapi.get_everything(q="bitcoin",language="en", sort_by="relevancy")

In [9]:
btc_news_en["totalResults"]

7026

In [10]:
# Fetch the Ethereum news articles
# YOUR CODE HERE!
eth_news_en = newsapi.get_everything(q="eth AND ethereum",language="en",sort_by="relevancy")

In [11]:
eth_news_en["totalResults"]

655

In [12]:
# Create the Bitcoin sentiment scores DataFrame
# YOUR CODE HERE! - General function for sentiment scores DataFrame: 
def create_df(news):
    articles = []
    for article in news:
        try:
#             title = article["title"]
#             description = article["description"]
            
            text = article["content"]
            res = analyzer.polarity_scores(text)
            pos = res['pos']
            neg = res['neg']
            neu = res['neu']
            com = res['compound']
            #date = article["publishedAt"]#[:10]

            articles.append({
#                 "title": title,
#                 "description": description,
                "Text": text,
#                 "Res": res,
                "Pos": pos,
                "Neg": neg,
                "Neu": neu,
                "Compound": com
#                 "date": date,
#                 "language": language
            })
        except AttributeError:
            pass

    return pd.DataFrame(articles)

In [13]:
# Bitcoin sentiment scores dataframe
btc_sentiment_df = create_df(btc_news_en["articles"])
btc_sentiment_df.head()

,Text,Pos,Neg,Neu,Compound
0,You won't have to stick to Bitcoin if you're d...,0.127,0.036,0.838,0.5574
1,Four months after Twitter first introduced in-...,0.000,0.000,1.000,0.0000
2,Bitcoin and similar blockchain-based cryptos e...,0.000,0.000,1.000,0.0000
3,Its the countrys latest crackdown on digital c...,0.000,0.000,1.000,0.0000
4,A recently-installed Bitcoin ATM.\r\n\n \n\n A...,0.052,0.000,0.948,0.1779

In [14]:
# Ethereum sentiment scores dataframe
eth_sentiment_df = create_df(eth_news_en["articles"])
eth_sentiment_df.head()

,Text,Pos,Neg,Neu,Compound
0,Vitalik Buterin\r\nVitalik Buterin dreamed up ...,0.000,0.000,1.000,0.0000
1,Illustration by Alex Castro / The Verge\r\n\n ...,0.126,0.064,0.810,0.2960
2,"This Tuesday, the 'altcoin' Solana (SOL) becam...",0.094,0.000,0.906,0.4588
3,"Hello friends, and welcome back to Week in Rev...",0.218,0.047,0.735,0.8268
4,The search for status online has branched into...,0.218,0.000,0.782,0.7964

In [15]:
# Describe the Bitcoin Sentiment
# YOUR CODE HERE!
btc_sentiment_df.describe()

             Pos        Neg        Neu   Compound
count  20.000000  20.000000  20.000000  20.000000
mean    0.049650   0.030500   0.919900   0.090165
std     0.041716   0.051177   0.066197   0.316562
min     0.000000   0.000000   0.765000  -0.709600
25%     0.000000   0.000000   0.887000   0.000000
50%     0.048500   0.000000   0.913000   0.089800
75%     0.076250   0.043000   0.965500   0.252200
max     0.127000   0.195000   1.000000   0.557400

In [16]:
# Describe the Ethereum Sentiment
# YOUR CODE HERE!
eth_sentiment_df.describe()

             Pos        Neg        Neu   Compound
count  20.000000  20.000000  20.000000  20.000000
mean    0.084050   0.038550   0.877450   0.188755
std     0.072407   0.058335   0.091838   0.411626
min     0.000000   0.000000   0.731000  -0.690800
25%     0.000000   0.000000   0.814500   0.000000
50%     0.090000   0.000000   0.872000   0.164500
75%     0.123750   0.059500   0.952750   0.467575
max     0.218000   0.162000   1.000000   0.826800

### Questions:

Q: Which coin had the highest mean positive score?

A: ETH had the highest mean positive score with 0.084050 vs BTC which had 0.051550

Q: Which coin had the highest compound score?

A: ETH had both the highest mean compound score and the highest max compound score. 

Q. Which coin had the highest positive score?

A: ETH had the highest positive score with 0.218000 vs BTC which had 0.127000

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [29]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re

In [22]:
from path import Path

def read_csv(file):
    file_path = Path(file)
    read_df  = pd.read_csv(file_path)
    return read_df

In [23]:
btc_article = read_csv("../Resources/btc_news_english.csv")
btc_article.head()

,Text,Pos,Neg,Neu,Compound
0,You won't have to stick to Bitcoin if you're d...,0.127,0.036,0.838,0.5574
1,Four months after Twitter first introduced in-...,0.000,0.000,1.000,0.0000
2,Its the countrys latest crackdown on digital c...,0.000,0.000,1.000,0.0000
3,A recently-installed Bitcoin ATM.\r\n\n \n\n A...,0.052,0.000,0.948,0.1779
4,The government of El Salvador purchased at lea...,0.046,0.000,0.954,0.1280

In [26]:
eth_article = read_csv("../Resources/eth_news_english.csv")
eth_article.head()

,Text,Pos,Neg,Neu,Compound
0,Vitalik Buterin\r\nVitalik Buterin dreamed up ...,0.000,0.000,1.000,0.0000
1,Illustration by Alex Castro / The Verge\r\n\n ...,0.126,0.064,0.810,0.2960
2,"This Tuesday, the 'altcoin' Solana (SOL) becam...",0.094,0.000,0.906,0.4588
3,"Hello friends, and welcome back to Week in Rev...",0.218,0.047,0.735,0.8268
4,The search for status online has branched into...,0.218,0.000,0.782,0.7964

In [30]:
# Instantiate the lemmatizer
# YOUR CODE HERE!
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
# YOUR CODE HERE!
sw = set(stopwords.words('english'))

# Expand the default stopwords list if necessary
# YOUR CODE HERE!
sw_custom = {''}

In [32]:
# # Complete the tokenizer function
# def tokenizer(text):
#     """Tokenizes text."""
    
#     # Remove the punctuation from text
#     regex = re.compile("[^a-zA-Z ]")
#     re_clean = regex.sub('', text)
    

#     # Create a tokenized list of the words
#     words = word_tokenize(re_clean)
        

#     # Lemmatize words into root words
#     lem = [lemmatizer.lemmatize(word) for word in words]
   

#     # Convert the words to lowercase
#     lower = [word.lower() for word in lem] 
 

#     # Remove the stop words
#     tokens = [lower for word not in sw.union(sw_addon)]
    
#     return tokens

SyntaxError: invalid syntax (<ipython-input-32-7826fa497526>, line 23)

In [33]:
def tokenizer(articles):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', articles)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return output

In [20]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!
btc_token_df = btc_article

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---